/* Artfully masterminded by InboundNow  */

/* -------------------------------------------------- 
   Styles
----------------------------------------------------*/


.wp_cta_container #content 
{
	background: transparent;
}
.wp_cta_container {
	margin:auto; 

}
.wp_cta_container #content {
	width: 400px;
	background: #222;
	padding-bottom: 15px;
}

.wp_cta_container p {

	text-align: center;
	color:#fff;
}

.wp_cta_container p:first-child {
margin-top: 0px;
padding-top: 0px;
}
.wp_cta_container p:last-child {
margin-bottom: 0px;
padding-bottom: 0px;
}


@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600);
.wp_cta_container {
  text-align: center;
  font-family: 'Lato', Calibri, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.wp_cta_container .the_content {
padding-left: 10px;
padding-right: 10px;
padding: 10px;
display: block;
width: 80%;
margin: auto;
}
.wp_cta_container #cta-link {
  text-decoration: none;
}
.wp_cta_container .button {
  display: block;
  cursor: pointer;
  width: 200px;
  font-size: 22px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  background: #db3d3d;
  border-bottom: 3px solid #c12424;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.wp_cta_container  .button:hover {
  background: #c12424;
  border-bottom: 3px solid #db3d3d;
}

.wp_cta_container  .clicked {
  transform: rotateY(-80deg);
}
