/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	/* CSS3 Multiple backgrounds with a fallback */

	background-color: transparent;

}

body{
	background-color: transparent;
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}


/*----------------------------
	Headers & Footers
-----------------------------*/
#linkedshare {
margin-top: 5px;
margin-bottom: 3px;
}
header{
	display:block;
}

h1{
	height:50px;
	text-indent:-99999px;
	overflow:hidden;
	background:url('../img/h1.png') no-repeat center center;
	margin:150px auto 60px;
	text-align:center;
}

h2{
	font-size: 17px;
	font-style: italic;
	font-weight: normal;
	left: 27px;
	position: absolute;
	top: 36px;
}

footer{
	color: #999999;
	font-size: 15px;
	line-height: 1.6;
	padding: 40px 20px 0;
	text-align: center;
	display:block;
}

footer b{
	color: #888888;
	display: block;
	font-size: 10px;
	font-weight: normal;
}

body > img{
	/* The twitter illustration */

	margin:50px auto 0;
	display:block;
}


/*----------------------------
	Main container
-----------------------------*/


#container{
	width:450px;
	height:300px;
	padding:10px;
	text-align:center;
	margin:0 auto;
	position:relative;
	background-color:#fff;
	display:block;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#container:before,
#container:after{

	/* Adding subtle shadows with before/after elements */

	content:'.';
	text-indent:-99999px;
	overflow:hidden;
	display:block;
	height:12px;
	width:470px;
	background:url('../img/shadows.png') no-repeat center top;
	position:absolute;
	left:0;
	top:-12px;
}

#container:after{
	top:auto;
	bottom:-12px;
	background-position:center bottom;
}

#container p{
	font:24px/1.3 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	padding: 70px 0 48px;
}


/*----------------------------
	Download Button
-----------------------------*/


a.downloadButton, #placeholder-span{
	display:inline-block;
	width:187px;
	height:69px;
	text-indent:-99999px;
	overflow:hidden;
	background:url('../img/buttons.png') no-repeat;
	cursor:default;
	border:none;
	text-decoration:none !important;
}

a.downloadButton.active{
	background-position:left bottom;
	cursor:pointer;
}
.tk-bello-pro-2 {text-align: center;
width: 180px;
padding-top: 0px;
padding-bottom: 5px;
font-size: 30px;
color:#000; }

#arrow-down {

	width:45px;
	height:36px;
	margin: auto;
	background:url('../img/arrow_down.png') no-repeat;
}