/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme {
position: relative;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-prev, .owl-theme .owl-next {
text-decoration:none; display: block; width: 10px; height: 17px; margin: -8px 0 0 0; position: absolute; top: 50%; z-index: 10; text-indent: -99999px; overflow: hidden; cursor: pointer; background: url(../images/prev-next.png) no-repeat;
}
.owl-theme .owl-prev {
left: 20px; background-position: 0 50%;
}
.owl-theme .owl-next {
right: 20px; background-position: 100% 50%;
}

/* Styling Pagination*/
.owl-theme .owl-pagination {
position: absolute; 
bottom: 40px; 
left: 0px; 
right: 0px; 
z-index: 10;
}
.owl-theme .owl-controls .owl-page{
margin: 0 7px 0 0;
display: inline-block;
zoom: 1;
*display: inline;
}
.owl-theme .owl-controls .owl-page span{
width: 12px;
height: 12px;
display: block;
background: url(../images/control-paging.png) no-repeat 0 50%;
cursor: pointer;
text-indent: -9999px; 
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
background-position: 100% 50%;
}
.owl-theme .owl-controls .owl-page.active span {
cursor: default;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}